fastapi
uvicorn
sqlalchemy
pydantic
streamlit
beautifulsoup4  # replace "4.x.x" with the specific version if necessary
lxml           # replace "4.x.x" with the specific version if necessary
gtts
pytesseract
# cv2
pdf2image
fitz
flask